
#grid{
 display:grid;
  grid-template-columns: 500px 1fr ;
  padding-left:200px;
  padding-right:30px;

}

#article{
border-left: 3px solid green;
  padding-left:100px;
  font-size: 55px;
}
body{
 
background-color:#F5f5f5;
}
h3{
color: #ADDDEE;
text-align: center;
font-style: normal;
font-weight: lighter;
font-size: 18px;
font-family: inherit;
margin-left: 270px;
}

}
h6{
  text-align: center;
}
p{

}
ul{
text-align: right;
display:inline;
}
@media(max-width:1000px){
  #grid{
  display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
