
#grid{
 display:grid;
  grid-template-columns: 600px 1fr ;
  padding-left:200px;
  padding-right:180px;

}

#article{
border-left: 3px solid green;
  padding-left:100px;
  font-size: 55px;
}

h3{
color: #595959;
text-align: left;
font-style: normal;
font-weight: lighter;
font-size: 20px;
font-family: inherit;
}

}
h6{
  text-align: center;
}
p{

}
ul{
text-align: right;
display:inline;
}
@media(max-width:1000px){
  #grid{
  display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
